*{
    background-color: #fff;
 
   
}


h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    size: 20cm;
    color: #000;

}
div{
    justify-content: center;
    border: 2px solid black;
    width: fit-content;
    padding: 15px 30px 15px 30px;
    border-radius: 1rem;
   
    

}
.username{
    text-align: left;
    padding: 10px;
    
   height:max-content;
   width:max-content;
   border-radius: 5px;
   
    color: rgb(9, 4, 1);
    
}
.password{
    text-align: left;
    padding: 10px;
   height:max-content;
   width:fit-content;
   border-radius: 5px;

}
.login{
    
    border-radius:50cap;
    padding:5px 10px 5px 10px;
    width:5rem;
    color: white;
    background-color: #18c48e;
}

a{
    color:#18c48e;
}